# Chapter 8 Strings: A Deeper Look

### 8.2: Formatting Strings

**Presentation types**:
- Python supports precision only for floating-point and Decimal values
- Formatting is type dependent

In [1]:
f'{17.489:.2f}' # The f in the format specifier .2f is required. It indicates what type is being formatted.

'17.49'

**Integers**
- The d presentation type formats integer values as strings

In [2]:
f'{10:d}'

'10'

**Characters**
- The c presentation type formats an integer character code as the corresponding character

In [3]:
f'{65:c} {97:c}'

'A a'

**Strings**
- The s presentation type is the default
- If you specify s explicitly, the value to format must be a variable that references a string, an expression that produces a string, or a string literal
- If you do not specify a presentation type, non-string values are converted to strings

In [4]:
f'{"hello":s} {7}'

'hello 7'

**Floating-point and decimal values**
- The f presentation type is used to format floating-point and decimal values
- For extremely large/small values, Exponential (scientific) notation can be used to format the values more compactly (e)

In [6]:
from decimal import Decimal

f'{Decimal("10000000000000000000000.0"):.3f}'

'10000000000000000000000.000'

In [8]:
f'{Decimal("10000000000000000000000.0"):.3e}' # Equivalent of 1.000 x 10^22

'1.000e+22'

### 8.2 Self Check

In [9]:
f'{58:c} {45:c} {41:c}'

': - )'

### 8.2 Field Widths and Alignment
- By default, Python right-aligns numbers and left-aligns other values such as strings

In [10]:
f'[{27:10d}' # 10 indicates the field width, d formats an integer

'[        27'

In [13]:
f'[{3.5:10f}]' # Python formats float values with six digits of precision to the right of the decimal by default

'[  3.500000]'

In [12]:
f'[{"hello":10}]'

'[hello     ]'

**Explicitly specifying left and right alignment in a field**

In [14]:
f'[{27:<15d}]'

'[27             ]'

In [15]:
f'[{3.5:<15f}]'

'[3.500000       ]'

In [16]:
f'[{"hello":>15}]'

'[          hello]'

**Centering a value in a field**
- Centering attempts to spread the remaining unoccupied character positions equally to the left and right of the formatted value
- If an odd number of characters remain, Python places the extra space to the right

In [18]:
f'[{27:^7d}]'

'[  27   ]'

In [20]:
f'[{3.5:^7.1f}]'

'[  3.5  ]'

In [21]:
f'[{"hello":^7}]'

'[ hello ]'

### 8.2.2 Self Check

In [23]:
print(f'[{"Amanda":>10}]') # Right
print(f'[{"Amanda":^10}]') # Center
print(f'[{"Amanda":10}]') # Left

[    Amanda]
[  Amanda  ]
[Amanda    ]

### 8.2.3 Numeric Formatting

**Formatting positive numbers with signs**
- The + before the field width specifies that a positive number should be preceded by a '+'
- To fill the remaining characters of the field with 0s rather than spaces, place a 0 vefore the field width (and after the +)

In [25]:
f'[{27:+10d}]'

'[       +27]'

In [26]:
f'[{27:+010d}]'

'[+000000027]'

**Using a space where a + sign would appear in a positive value**
- If the field width is specified, the space should appear before the field width
- This is useful for aligning positive and negative values for display purposes

In [29]:
print(f'{27:d}\n{27: d}\n{-27: d}\n{-27:d}')

27
 27
-27
-27

**Grouping digits**
- You can format numbers with thousands seaparaters by using a comma

In [33]:
f'{12345678:,d}'

'12,345,678'

In [35]:
f'{123456.78:,.2f}'

'123,456.78'

### 8.2.3 Self Check

In [45]:
print(f'{10240.473:+10,.2f}\n{-3210.9521:+10,.2f}')

+10,240.47
 -3,210.95

### 8.2.4 String's format Method
- Python's f-strings were added to the language in version 3.6
- Prior, formatting was performed with the string method format
- You pass to the method the values to be formatted

In [46]:
'{:.2f}'.format(17.489)

'17.49'

**Multiple placeholders**

In [47]:
'{} {}'.format('Amanda', 'Cyan')

'Amanda Cyan'

**Referencing arguments by position numbers**

In [50]:
'{0} {0} {1}'.format('Happy', 'Birthday')

'Happy Happy Birthday'

**Referencing keyword arguments**

In [52]:
'{first} {last}'.format(first='Amanda', last='Gray')

'Amanda Gray'

In [53]:
'{last} {first}'.format(first='Amanda', last='Gray')

'Gray Amanda'

### 8.3 Concatenating and Repeating Strings
- Remember, strings are immutable

In [55]:
s1 = 'happy'
s2 = 'birthday'

s1 += ' ' + s2

print(s1)

happy birthday

In [56]:
symbol = '>'

symbol *= 5

print(symbol)

>>>>>

### 8.3 Self Check

In [59]:
name = 'Abby'
symbol = "*"

name += ' ' + 'Lloyd'

symbol *= len(name)

print(f'{symbol}\n{name}\n{symbol}')

**********
Abby Lloyd
**********

### 8.4 Stripping Whitespace from Strings
- Each method that appears to modify a string returns a new one

**Removing leading and trailing whitespace**

In [64]:
sentence = '\t \n This is a test string. \t\t \n'
sentence

'\t \n This is a test string. \t\t \n'

In [61]:
sentence.strip()

'This is a test string.'

**Removing leading whitespace**

In [62]:
sentence.lstrip()

'This is a test string. \t\t \n'

**Removing trailing whitespace**

In [65]:
sentence.rstrip()

'\t \n This is a test string.'

### 8.4 Self Check

In [66]:
name = '              Margo Magenta       '

name.strip()

'Margo Magenta'

In [67]:
name.lstrip()

'Margo Magenta       '

In [68]:
name.rstrip()

'              Margo Magenta'

### 8.5 Changing Character Case
- In addition to the string methods lower and upper, you can use capitalize and title

**Capitalizing only a string's first character**

In [70]:
'happy birthday'.capitalize()

'Happy birthday'

**Capitalizing the first character of every word in a string**

In [71]:
'strings: a deeper look'.title()

'Strings: A Deeper Look'

### 8.5 Self Check

In [72]:
slogan = 'happy new year'

slogan.capitalize()

'Happy new year'

In [73]:
slogan.title()

'Happy New Year'

### 8.6 Comparison Operators for Strings
- Uppercase letters compare as less than lowercase letters because uppercase letters have lower integer values

In [74]:
print(f'A: {ord("A")}; a: {ord("a")}') # check character codes with ord

A: 65; a: 97

In [75]:
'Orange' == 'orange'

False

In [76]:
'Orange' != 'orange'

True

In [77]:
'Orange' < 'orange'

True

In [78]:
'Orange' <= 'orange'

True

In [79]:
'Orange' > 'orange'

False

In [80]:
'Orange' >= 'orange'

False

### 8.7 Searching for Substrings

**Counting occurences**
- If you specify the second argument (start_index) and third argument (end_index), count searches only the slice string up to, but not including the end_index

In [81]:
sentence = 'to be or not to be that is the question'

sentence.count('to')

2

In [82]:
sentence.count('to', 12)

1

In [83]:
sentence.count('that', 12, 25)

1

**Locating a substring in a string**
- Index searches for a substring and returns the first index at which the substring is found; otherwise, a ValueError occurs
- rindex searches from the end of the string and returns the last index
- find and rfind perform the same tasks as index and rindex but, if the substring is not found, return -1

In [84]:
sentence.index('be')

3

In [85]:
sentence.rindex('be')

16

In [86]:
sentence.find('be')

3

In [87]:
sentence.rfind('be')

16

**Determining wether a string contains a substring**

In [88]:
'that' in sentence

True

In [89]:
'THAT' in sentence

False

In [90]:
'THAT' not in sentence

True

**Locating a substring at the beginning or end of a string**

In [91]:
sentence.startswith('to')

True

In [92]:
sentence.startswith('be')

False

In [93]:
sentence.endswith('question')

True

In [94]:
sentence.endswith('quest')

False

### 8.7 Self Check

In [1]:
sentence = 'to be or not to be that is the question'

for word in sentence.split():
    if word.startswith('t'):
        print(word)

to
to
that
the

### 8.8 Replacing Substrings
- The method replace takes two substrings
- 1. a substring to search for
- 2. a substring to replace the first substring with

In [2]:
values = '1\t2\t3\t4\t5'
print(values)

1	2	3	4	5

In [4]:
values.replace('\t', ', ')

'1, 2, 3, 4, 5'

### 8.8 Self Check

In [5]:
values.replace('\t', ' --> ')

'1 --> 2 --> 3 --> 4 --> 5'

### 8.9 Splitting and Joining Strings

**Splitting strings**

In [7]:
letters = 'A, B, C, D'

letters.split(', ') # The delimeter is the ', '

['A', 'B', 'C', 'D']

In [9]:
letters.split(', ', 2) # An integer as the second argument specifies the max number of splits, it works from left to right

['A', 'B', 'C, D']

In [12]:
letters.rsplit(', ', 2) # Works from right to left

['A, B', 'C', 'D']

**Joining strings**
- String method join concatenates the strings in its argument, which must be an iterable containing only string values
- The separator between the concatenated items is the string on which you call join

In [14]:
letters_list = ['A', 'B', 'C', 'D']

', '.join(letters_list)

'A, B, C, D'

In [15]:
', '.join([str(i) for i in range(10)])

'0, 1, 2, 3, 4, 5, 6, 7, 8, 9'

**String methods partition and rpartition**
- String method partition splits a string into a tuple of strings based on the method's separator argument
- The three strings are 1) the part of the original string before the separator, 2) the separator itself, and 3) the part of the string after the separator

In [16]:
'Amanda: 89, 97, 92'.partition(': ')

('Amanda', ': ', '89, 97, 92')

To search for the separator from the end use the string method rpartition.

In [18]:
url = 'https://abcnews.go.com/International/wireStory/man-accused-blasphemy-stoned-death-mob-pakistan-82858123'

rest_of_url, separator, document = url.rpartition('/')

print(document)
print(rest_of_url)

man-accused-blasphemy-stoned-death-mob-pakistan-82858123
https://abcnews.go.com/International/wireStory

**String method splitlines**

In [19]:
lines = """This is line 1
This is line2
This is line3"""

lines

'This is line 1\nThis is line2\nThis is line3'

In [21]:
lines.splitlines()

['This is line 1', 'This is line2', 'This is line3']

In [24]:
lines.splitlines(True) # Passing True to splitlines keeps the new lines at the end of each string

['This is line 1\n', 'This is line2\n', 'This is line3']

### 8.9 Self Check

In [27]:
name = 'Pamela White'

first_name, last_name = name.split()

name_list = [last_name, first_name]

', '.join(name_list)

'White, Pamela'

In [28]:
', '.join(reversed('Pamela White'.split()))

'White, Pamela'

In [29]:
url = 'https://www.dietel.com/books/PyCDS/table_of_contents.html'

rest_of_url, separator, import_url = url.partition('//')

import2_url, separator, rest_of_url = import_url.partition('/')

import2_url

'www.dietel.com'

In [33]:
import_url, separator, rest_of_url = url.rpartition('/')

rest_of_url, separator, import2_url = import_url.rpartition('.com/')

import2_url

'books/PyCDS'

### 8.10 Characters and Character-Testing Methods
- isdigit() returns True if the string on which you call the method contains only the digit characters
- isalnum() returns True if the string on which you call the method is alphanumeric (contains only digits and letters)
- isalpha() returns True if the string contains only alphabetic characters
- isdecimal()
- islower() returns true if all alphabetic characters in string are lowercase
- isnumeric()
- isspace()
- istitle()
- isupper()

In [34]:
'-27'.isdigit()

False

In [35]:
 '27'.isdigit()

True

In [36]:
'A9876'.isalnum()

True

In [37]:
'123 Main Street'.isalnum()

False

### 8.11 Raw Strings
- Raw strings (preceded by the character r) are convenient to eleminate the need for \\. 
- They treat each backslash as a regular character, rather than the beginning of an escape sequence.

In [41]:
file_path = r'C:\MyFolder\MySubFolder\MyFile.txt'
file_path

'C:\\MyFolder\\MySubFolder\\MyFile.txt'

### 8.12 Introduction to Regular Expressions
- A regular expression string describes a search pattern for matching characters in other strings

**Validating Data**
- Use existing regular expressions for common items from the following websites:
- [https://regex101.com]
- [https://regexlib.com]
- [https://www.regular-expression.info]

**Other uses of regular expressions**
- Extract data from text
- Clean data
- Transform data into other formats

### 8.12.1 re Module and Function fullmatch
- fullmatch checks wether the entire string in its second argument matches the pattern in its first

In [43]:
import re

pattern = '02215'

'Match' if re.fullmatch(pattern, '02215') else 'No match'

'Match'

In [45]:
'Match' if re.fullmatch(pattern, '51220') else 'No match'

'No match'

**Metacharacter, character classes, and quantifiers**
- Regular expressions typically contain metacharacters: []  {}  ()  *  +  ^  $  ?  .  |
- The \ metacharacter begins each of the predefined character classes, each matching a specific state of characters

In [47]:
'Valid' if re.fullmatch(r'\d{5}', '02215') else 'Invalid' # \d is a character class that represents a digit

'Valid'

In [49]:
'Valid' if re.fullmatch(r'\d{5}', '9876') else 'Invalid'

'Invalid'

**Other predefined character classes**
- \d = Any digit
- \D = Any character that is not a digit
- \s = Any whitespace character
- \S = Any character that is not a whitespace character
- \w = Any word character (alphanumeric character)
- \W = Any character that is not a word character

**Custom character classes**
- \[] define a custome character class that matches a single character
- \[aeiou] matches a lowercase vowel
- \[A-Z] matches an uppercase letter
- \[a-z] matches a lowercase letter
- \[a-zA-z] matches a lower or uppercase letter

In [52]:
'Valid' if re.fullmatch('[A-Z][a-z]*', 'Wally') else 'Invalid'
# The * quantifier matches zero or more occurences of the subexpression to its left (zero or more lowercase letters)

'Valid'

In [53]:
'Valid' if re.fullmatch('[A-Z][a-z]*', 'eva') else 'Invalid'

'Invalid'

- When a custom character class starts with a ^, the class matches any character that's not specified. 
- \[^a-z] matches any character that is not lowercase

In [54]:
'Match' if re.fullmatch('[^a-z]', 'A') else 'No match'

'Match'

In [55]:
'Match' if re.fullmatch('[^a-z]', 'a') else 'No match'

'No match'

- Metacharacters in a customer character class are treated as literal characters.

In [57]:
'Match' if re.fullmatch('[*+$]', '*') else 'No match'

'Match'

In [58]:
'Match' if re.fullmatch('[*+$]', '!') else 'No match'

'No match'

**\* verses + quantifier**
- \* = zero or more occurences
- \+ = at least one occurence

In [59]:
'Valid' if re.fullmatch('[A-Z][a-z]+', 'Wally') else 'Invalid'

'Valid'

In [60]:
'Valid' if re.fullmatch('[A-Z][a-z]+', 'E') else 'Invalid'

'Invalid'

**Other quantifiers**
- ? quantifier matches zero or one occurenc of a subexpression

In [61]:
'Match' if re.fullmatch('labell?ed', 'labelled') else 'No match'

'Match'

In [62]:
'Match' if re.fullmatch('labell?ed', 'labeled') else 'No match'

'Match'

In [63]:
'Match' if re.fullmatch('labell?ed', 'labellled') else 'No match'

'No match'

- \{n,} quantifier matches at least n occurences of a subexpression

In [65]:
'Match' if re.fullmatch(r'\d{3,}', '123') else 'No match'

'Match'

In [66]:
'Match' if re.fullmatch(r'\d{3,}', '1234567890') else 'No match'

'Match'

In [67]:
'Match' if re.fullmatch(r'\d{3,}', '12') else 'No match'

'No match'

- \{n,m} quantifier matches between n and m (inclusive) occurences of a subexpression

In [68]:
'Match' if re.fullmatch(r'\d{3,6}', '123') else 'No match'

'Match'

In [70]:
'Match' if re.fullmatch(r'\d{3,6}', '123456') else 'No match'

'Match'

In [71]:
'Match' if re.fullmatch(r'\d{3,6}', '1234567') else 'No match'

'No match'

In [72]:
'Match' if re.fullmatch(r'\d{3,6}', '12') else 'No match'

'No match'

### 8.12.1 Self Check

In [74]:
import re

street = r'\d+ [A-Z][a-z]* [A-Z][a-z]*'

'Match' if re.fullmatch(street, '123 Main Street') else 'No Match'

'Match'

### 8.12.2 Replacing Substrings and Splitting Strings

**Function sub - Replacing patterns**
- By default, the sub function replaces all occurences of a pattern with the replacement text you specify

**sub function arguments**
- the pattern to match
- the replacement text
- the string to be searched
- (the keyword argument count can be used to specify the max number of replacements)

In [2]:
import re

re.sub(r'\t', ', ', '1\t2\t3\t4')

'1, 2, 3, 4'

In [3]:
re.sub(r'\t', ', ', '1\t2\t3\t4', count=2)

'1, 2, 3\t4'

**Function split**
- split tokenizes a string, using a regular expression to specify the delimiter, and returns a list of strings
- Use the argument maxsplit to specify the maximum numbers of splits

In [5]:
re.split(r',\s*', '1,  2, 3,4,        5,6,7,8')

['1', '2', '3', '4', '5', '6', '7', '8']

In [6]:
re.split(r',\s*', '1,  2, 3,4,        5,6,7,8', maxsplit=3)

['1', '2', '3', '4,        5,6,7,8']

### 8.12.2 Self Check

In [8]:
string1 = 'A\tB\tC\t\t\tD'

import re

re.sub(r'\t+', ', ', string1)

'A, B, C, D'

In [10]:
string2 = '123$Main$$Street'

import re

re.split(r'\$+', string2)

['123', 'Main', 'Street']

### 8.12.3 Other Search Functions: Accessing Matches
- search
- match
- findall
- finditer

**Function search - finding the first match anywhere in a string**
- Function search looks in a string for the first occurrence of a substring that matches a regular expression and returns a match object (SRE_Match) that contains the matching substring
- The match object's group method returns that substring

In [11]:
import re

result = re.search('Python', 'Python is fun')

result.group() if result else 'not found'

'Python'

In [18]:
result2 = re.search('fun!', 'Python is fun') # Returns None if the string does not contain the pattern

result2.group() if result2 else 'not found'

'not found'

**Function match searches only at the beginning of the string**

In [19]:
result3 = re.match('Python', 'Python is fun')

result3.group() if result3 else 'not found'

'Python'

In [20]:
result4 = re.match('is', 'Python is fun')

result4.group() if result4 else 'not found'

'not found'

**Ignoring case with the optional flags keyword argument**
- The flags keyword argument changes how regular expressions are matched

In [23]:
result5 = re.search('Sam', 'SAM WHITE', flags=re.IGNORECASE)

result5.group() if result5 else 'not found'

'SAM'

**Metacharacters that restric matches to the beginning or end of a string**
- The ^ at the beginning of a regular expression is an anchor indicating that the expression matches only the beginning of a string

In [24]:
result = re.search('^Python', 'Python is fun')

result.group() if result else print('not found')

'Python'

In [25]:
result = re.search('^fun', 'Python is fun')

result.group() if result else print ('not found')

not found

- The $ at the end of a regular expression is an anchor indicating that the expression matches only the end of a string

In [26]:
result = re.search('Python$', 'Python is fun')

result.group() if result else print('not found')

not found

In [27]:
result = re.search('fun$', 'Python is fun')

result.group() if result else print('not found')

'fun'

**Function findall and finditer - finding all matches in a string**
- findall finds every matching substring in a string and returns a list of the matching substrings

In [28]:
contact = 'Wally White, Home: 555-555-1234, Work: 555-555-4321'

re.findall(r'\d{3}-\d{3}-\d{4}', contact)

['555-555-1234', '555-555-4321']

- finditer works like finall, but returns a lazy iterable of match objects
- For large numbers of matches, using finditer can save memory because it returns one match at a time, whereas findall returns all the matches at once

In [29]:
for phone in re.finditer(r'\d{3}-\d{3}-\d{4}', contact):
    print (phone.group())

555-555-1234
555-555-4321

**Capturing substrings in a match**
- You can use ( ) to capture substrings in a match

In [35]:
text = 'Charlie Cyan, email: demo1@deitel.com'

pattern = r'([A-Z][a-z]+ [A-Z][a-z]+), email: (\w+@\w+\.\w{3})'

result = re.search(pattern, text)

result.groups() # The match object's groups method returns a tuple of the captured substrings

('Charlie Cyan', 'demo1@deitel.com')

In [32]:
result.group() # The match object group returns the entire match as a single string

'Charlie Cyan, email: demo1@deitel.com'

In [33]:
result.group(1) # Access the first substring

'Charlie Cyan'

In [34]:
result.group(2) # Access the second substring

'demo1@deitel.com'

### 8.12.3 Self Check

In [41]:
import re

string1 = '10 + 5'

pattern = r'(\d+) ([-/+*]) (\d+)'

result = re.search(pattern, string1)

print(result.groups())

print(result.group(1))

print(result.group(2))

print(result.group(3))

('10', '+', '5')
10
+
5

### 8.13 Pandas, Regular Expression, and Data Munging
<br>Common data cleaning examples:
- deleting observations with missing values
- substituting reasonalbe values for missing values
- deleting observations with bad values
- substituting observations with bad values
- tossing outliers
- duplicate elemination
- dealing with inconsistent data
- and more


Some common data transformations include:
- removing unnecessary data features
- combining related features
- sampling data to obtain a representative subset
- standardizing data formats
- grouping data
- and more

**Data validation**

In [43]:
# Create a Series of ZIP Codes from a dictionary
# Series are one-dimensional arrays with indices

import pandas as pd

zips = pd.Series({'Boston': '02215', 'Miami': '3310'})

zips

Boston    02215
Miami      3310
dtype: object

In [44]:
# Use the str attribute and match method to check whether each ZIP Code is valid

zips.str.match(r'\d{5}')

Boston     True
Miami     False
dtype: bool

In [45]:
# Another example using contains

cities = pd.Series(['Boston, MA 02215', 'Miami, FL 33101'])

cities

0    Boston, MA 02215
1     Miami, FL 33101
dtype: object

In [46]:
cities.str.contains(r' [A-Z]{2} ') # Find a matching substring - Example: [ MO ]

0    True
1    True
dtype: bool

In [47]:
cities.str.match(r' [A-Z]{2} ') # Find an entire string that matches

0    False
1    False
dtype: bool

**Reformatting your data**

In [48]:
# Reformat phone numbers

contacts = [['Mike Green', 'demo1@deitel.com', '5555555555'],
            ['Sue Brown', 'demo2@deitel.com', '5555551234']]

contactsdf = pd.DataFrame(contacts, columns=['Name', 'Email', 'Phone']) 

contactsdf

         Name             Email       Phone
0  Mike Green  demo1@deitel.com  5555555555
1   Sue Brown  demo2@deitel.com  5555551234

In [53]:
# Create a function to format phone number
import re

def get_formatted_phone(value):
    result = re.fullmatch(r'(\d{3})(\d{3})(\d{4})', value)
    return '-'.join(result.groups()) if result else value

In [54]:
# Map formatted phone number to new Series

formatted_phone = contactsdf['Phone'].map(get_formatted_phone)

formatted_phone

0    555-555-5555
1    555-555-1234
Name: Phone, dtype: object

In [55]:
# Update the data in the original df with the formatted numbers

contactsdf['Phone'] = formatted_phone

contactsdf

         Name             Email         Phone
0  Mike Green  demo1@deitel.com  555-555-5555
1   Sue Brown  demo2@deitel.com  555-555-1234

### 8.13 Self Check

In [81]:
contacts = [['Mike Green', 'demo1@deitel.com', '5555555555'],
            ['Sue Brown', 'demo2@deitel.com', '5555551234']]

contactsdf = pd.DataFrame(contacts, columns=['Name', 'Email', 'Phone']) 

contactsdf

         Name             Email       Phone
0  Mike Green  demo1@deitel.com  5555555555
1   Sue Brown  demo2@deitel.com  5555551234

In [84]:
# Modify function to format phone number
import re
import pandas as pd

def get_formatted_phone2(value):
    result = re.fullmatch(r'(\d{3})(\d{3})(\d{4})', value)
    if result:
        str1, str2, str3 = result.groups()
        return f'({str1}) {str2}-{str3}'
    else:
        return value

In [85]:
# Map formatted phone to Series

formatted_phone2 = contactsdf['Phone'].map(get_formatted_phone2)

formatted_phone2

0    (555) 555-5555
1    (555) 555-1234
Name: Phone, dtype: object

In [88]:
# Update the original df with formatted Series

contactsdf['Phone'] = formatted_phone2

contactsdf

         Name             Email           Phone
0  Mike Green  demo1@deitel.com  (555) 555-5555
1   Sue Brown  demo2@deitel.com  (555) 555-1234